/* fonts - start */

@font-face {
  font-family: "BadeenDisplay";
  src: url("/fonts/BadeenDisplay.ttf") format("truetype");
}

.badeenDisplay-text {
  font-family: "BadeenDisplay", sans-serif;
}

@font-face {
  font-family: "JosefinSans";
  src: url("/fonts/JosefinSans.ttf") format("truetype");
}

.josefinSans-text {
  font-family: "JosefinSans", sans-serif;
}

@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald.ttf") format("truetype");
}

.oswald-text {
  font-family: "Oswald", sans-serif;
}

/* fonts - end */

.project-img {
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  transition: mask-image 0.3s ease;
}

/* loading dots - start */

@keyframes dot-flash {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.loading-dots span {
  display: inline-block;
  animation: dot-flash 1.5s infinite ease-in-out;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}
.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

/* loading dots - end */
