@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f7f7f7;
}

.invert-color {
  mix-blend-mode: difference;
}

@font-face {
  font-family: "Raleway";
  src: url("/Raleway-Font.ttf") format("truetype");
  /* font-weight: bold; */
  font-style: normal;
}

/* slide right like completing the div - start */

@keyframes slideInFromLeft {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideInFromLeft 0.8s ease-out 0.5s forwards;
}

/* slide right like completing the div - end */

/* fade-in animation - start */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out 0.5s forwards;
}

/* fade-in animation - end */

/* button glow effect - start */

@keyframes glowEffect {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}

.button-glow {
  animation: glowEffect 1.2s ease-in-out forwards;
}

/* button glow effect - end */

/* project list highlight - start */

/* @keyframes highlightBackground {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.project-highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--highlight-color);
  z-index: -1;
  opacity: 0;
  animation: highlightBackground 1s ease-in-out forwards;
} */

/*  colors & delays for each project */
/* .project-0::before {
  --highlight-color: #dbeafe;
  animation-delay: 0s;
}

.project-1::before {
  --highlight-color: #ccfbf1;
  animation-delay: 0.2s;
}

.project-2::before {
  --highlight-color: #fef9c3;
  animation-delay: 0.4s;
}

.project-3::before {
  --highlight-color: #ffedd5;
  animation-delay: 0.6s;
}

.project-4::before {
  --highlight-color: #f3e8ff;
  animation-delay: 0.8s;
}

.project-5::before {
  --highlight-color: #dcfce7;
  animation-delay: 1s;
} */

/* project list highlight - end */

/* loading dots - start */

@keyframes dot-flash {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.loading-dots span {
  display: inline-block;
  animation: dot-flash 1.5s infinite ease-in-out;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}
.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

/* loading dots - end */
