@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts - start */

@font-face {
  font-family: "BigShouldersStencil";
  src: url("/fonts/BigShouldersStencil.ttf") format("truetype");
}

.bigShoulderStencil-text {
  font-family: "BigShouldersStencil", sans-serif;
}

@font-face {
  font-family: "CroissantOne";
  src: url("/fonts/CroissantOne-Regular.ttf") format("truetype");
}

.croissantOne-text {
  font-family: "CroissantOne", sans-serif;
}

@font-face {
  font-family: "EricaOne";
  src: url("/fonts/EricaOne-Regular.ttf") format("truetype");
}

.ericaOne-text {
  font-family: "EricaOne", sans-serif;
}

@font-face {
  font-family: "GiveYouGlory";
  src: url("/fonts/GiveYouGlory-Regular.ttf") format("truetype");
}

.giveYouGlory-text {
  font-family: "GiveYouGlory", sans-serif;
}

@font-face {
  font-family: "Kranky";
  src: url("/fonts/Kranky-Regular.ttf") format("truetype");
}

.kranky-text {
  font-family: "Kranky", sans-serif;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont.ttf") format("truetype");
}

.inter-text {
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: "Montez";
  src: url("/fonts/Montez-Regular.ttf") format("truetype");
}

.montez-text {
  font-family: "Montez", sans-serif;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Thin.ttf") format("truetype");
}

.lato-text {
  font-family: "Lato", sans-serif;
}

@font-face {
  font-family: "PlaywriteNGModernGuides";
  src: url("/fonts/PlaywriteNGModernGuides-Regular.ttf") format("truetype");
}

.playwrite-text {
  font-family: "PlaywriteNGModernGuides", sans-serif;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/fonts/SourceCodePro.ttf") format("truetype");
}

.sourceCodePro-text {
  font-family: "SourceCodePro", sans-serif;
}

@font-face {
  font-family: "SpecialElite";
  src: url("/fonts/SpecialElite-Regular.ttf") format("truetype");
}

.specialElite-text {
  font-family: "SpecialElite", sans-serif;
}

@font-face {
  font-family: "Vibes";
  src: url("/fonts/Vibes-Regular.ttf") format("truetype");
}

.vibes-text {
  font-family: "Vibes", sans-serif;
}

@font-face {
  font-family: "Zeyada";
  src: url("/fonts/Zeyada-Regular.ttf") format("truetype");
}

.zeyada-text {
  font-family: "Zeyada", sans-serif;
}

/* fonts - end */

body {
  background-color: #f7f7f7;
}

.invert-color {
  mix-blend-mode: difference;
}

/* coloring button - start */

.type--A {
  --line_color: #555555;
  --back_color: #ffecf6;
}
.type--B {
  --line_color: #1b1919;
  --back_color: #e9ecff;
}
.type--C {
  --line_color: #00135c;
  --back_color: #defffa;
}
.button-home {
  position: relative;
  z-index: 0;
  width: 240px;
  height: 56px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--line_color);
  letter-spacing: 2px;
  transition: all 0.3s ease;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.button-home::before,
.button-home::after,
.button__text::before,
.button__text::after {
  content: "";
  position: absolute;
  height: 4px;
  border-radius: 2px;
  background: var(--line_color);
  transition: all 0.5s ease;
}
.button-home::before {
  top: 0;
  left: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button-home::after {
  top: 0;
  right: 54px;
  width: 8px;
}
.button__text::before {
  bottom: 0;
  right: 54px;
  width: calc(100% - 56px * 2 - 16px);
}
.button__text::after {
  bottom: 0;
  left: 54px;
  width: 8px;
}
.button__line {
  position: absolute;
  top: 0;
  width: 56px;
  height: 100%;
  overflow: hidden;
}
.button__line::before {
  content: "";
  position: absolute;
  top: 0;
  width: 150%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 300px;
  border: solid 4px var(--line_color);
}
.button__line:nth-child(1),
.button__line:nth-child(1)::before {
  left: 0;
}
.button__line:nth-child(2),
.button__line:nth-child(2)::before {
  right: 0;
}
.button-home:hover {
  letter-spacing: 6px;
}
.button-home:hover::before,
.button-home:hover .button__text::before {
  width: 8px;
}
.button-home:hover::after,
.button-home:hover .button__text::after {
  width: calc(100% - 56px * 2 - 16px);
}
.button__drow1,
.button__drow2 {
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  transform-origin: 16px 16px;
}
.button__drow1 {
  top: -16px;
  left: 40px;
  width: 32px;
  height: 0;
  transform: rotate(30deg);
}
.button__drow2 {
  top: 44px;
  left: 77px;
  width: 32px;
  height: 0;
  transform: rotate(-127deg);
}
.button__drow1::before,
.button__drow1::after,
.button__drow2::before,
.button__drow2::after {
  content: "";
  position: absolute;
}
.button__drow1::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-60deg);
}
.button__drow1::after {
  top: -10px;
  left: 45px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(69deg);
}
.button__drow2::before {
  bottom: 0;
  left: 0;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-146deg);
}
.button__drow2::after {
  bottom: 26px;
  left: -40px;
  width: 0;
  height: 32px;
  border-radius: 16px;
  transform-origin: 16px 16px;
  transform: rotate(-262deg);
}
.button__drow1,
.button__drow1::before,
.button__drow1::after,
.button__drow2,
.button__drow2::before,
.button__drow2::after {
  background: var(--back_color);
}
.button-home:hover .button__drow1 {
  animation: drow1 ease-in 0.06s;
  animation-fill-mode: forwards;
}
.button-home:hover .button__drow1::before {
  animation: drow2 linear 0.08s 0.06s;
  animation-fill-mode: forwards;
}
.button-home:hover .button__drow1::after {
  animation: drow3 linear 0.03s 0.14s;
  animation-fill-mode: forwards;
}
.button-home:hover .button__drow2 {
  animation: drow4 linear 0.06s 0.2s;
  animation-fill-mode: forwards;
}
.button-home:hover .button__drow2::before {
  animation: drow3 linear 0.03s 0.26s;
  animation-fill-mode: forwards;
}
.button-home:hover .button__drow2::after {
  animation: drow5 linear 0.06s 0.32s;
  animation-fill-mode: forwards;
}
@keyframes drow1 {
  0% {
    height: 0;
  }
  100% {
    height: 100px;
  }
}
@keyframes drow2 {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    width: 120px;
  }
}
@keyframes drow3 {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@keyframes drow4 {
  0% {
    height: 0;
  }
  100% {
    height: 120px;
  }
}
@keyframes drow5 {
  0% {
    width: 0;
  }
  100% {
    width: 124px;
  }
}

.container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button-home:not(:last-child) {
  margin-bottom: 64px;
}

/* coloring button - end */

/* slide right like completing the div - start */

@keyframes slideInFromLeft {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideInFromLeft 0.8s ease-out 0.5s forwards;
}

/* slide right like completing the div - end */

/* fade-in animation - start */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out 0.5s forwards;
}

/* fade-in animation - end */

/* button glow effect - start */

@keyframes glowEffect {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}

.button-glow {
  animation: glowEffect 1.2s ease-in-out forwards;
}

/* button glow effect - end */

/* project list highlight - start */

/* @keyframes highlightBackground {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.project-highlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--highlight-color);
  z-index: -1;
  opacity: 0;
  animation: highlightBackground 1s ease-in-out forwards;
} */

/*  colors & delays for each project */
/* .project-0::before {
  --highlight-color: #dbeafe;
  animation-delay: 0s;
}

.project-1::before {
  --highlight-color: #ccfbf1;
  animation-delay: 0.2s;
}

.project-2::before {
  --highlight-color: #fef9c3;
  animation-delay: 0.4s;
}

.project-3::before {
  --highlight-color: #ffedd5;
  animation-delay: 0.6s;
}

.project-4::before {
  --highlight-color: #f3e8ff;
  animation-delay: 0.8s;
}

.project-5::before {
  --highlight-color: #dcfce7;
  animation-delay: 1s;
} */

/* project list highlight - end */

/* loading dots - start */

@keyframes dot-flash {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.loading-dots span {
  display: inline-block;
  animation: dot-flash 1.5s infinite ease-in-out;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}
.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

/* loading dots - end */

/* light & dark button - start */

.themeToggle {
  color: #b0b0b0;
  width: 1.6em;
  height: 1.6em;
}

.themeToggle:hover {
  color: #e0e0e0;
}

.themeToggle:active {
  color: #f5f5f5;
}

.st-sunMoonThemeToggleBtn {
  position: relative;
  cursor: pointer;
}

.st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
}

.st-sunMoonThemeToggleBtn svg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
}

.st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}

.st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}

.st-sunMoonThemeToggleBtn svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}

.st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}
.st-sunMoonThemeToggleBtn svg .sunRay6 {
  animation-delay: 0.29s !important;
}

.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
  transform: rotate(90deg);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
  transform: translate(16px, -3px);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
  transform: scale(0.55);
}
.st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}

@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/* light & dark button - end */
