@import "tailwindcss";

body {
  background-color: #f7f7f7;
}

/* scrollbar styles - start */

html,
body {
  scrollbar-color: #6b6b6c #161616;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #161616;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: #6b6b6c;
}

/* scrollbar styles - end */

/* page transition - start */

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: bottom;
  z-index: 100;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #0f0f0f;
  transform-origin: top;
  z-index: 100;
}

/* page transition - end */

/* slide right like completing the div - start */

@keyframes slideInFromLeft {
  0% {
    clip-path: inset(0 100% 0 0);
    opacity: 0;
  }
  100% {
    clip-path: inset(0 0 0 0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideInFromLeft 0.8s ease-out 0.5s forwards;
}

/* slide right like completing the div - end */

/* slide down like completing the div - start */

@keyframes slideInFromUp {
  0% {
    clip-path: inset(0 0 100% 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

.slide-bottom {
  animation: slideInFromUp 0.5s ease-out 0.5s forwards;
}

/* slide down like completing the div - end */

/* capabilities page tech info box - start */

@keyframes slideIn {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.slide-down {
  animation: slideIn 0.3s ease-in-out forwards;
}

.slide-up {
  animation: slideOut 0.3s ease-in-out forwards;
}

/* capabilities page tech info box - end */

/* fade-in animation - start */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

/* fade-in animation - end */

/* button glow effect - start */

@keyframes glowEffect {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(0.5);
  }
  100% {
    filter: brightness(1);
  }
}

.button-glow {
  animation: glowEffect 1.2s ease-in-out forwards;
}

/* button glow effect - end */
